services:
  server:
      build: .
      container_name: server
      ports:
        - "8000:8000"
      env_file:
        - .env
      command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
      volumes:
        - .:/app 
      restart: unless-stopped
  frontend:
      build: ./client
      container_name: client
      ports:
        - "5173:5173"
      volumes:
        - ./client:/app
        - /app/node_modules
      restart: unless-stopped
      depends_on:
        - server
